<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/triangle_info">
      <input id="sideA" type="number" name="sideA">
      <input id="sideB" type="number" name="sideB">
      <input id="sideC" type="number" name="sideC">
      <button type="submit">Triangulate</button>
    </form>
  </body>
</html>
