<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TriangleInfo</title>
  </head>
  <body>
    <h1>TRIANGLULATION RESULTS ARE IN.</h1>
    <p>Your triangle with side lengths of @Model.GetSideA() @Model.GetSideB() @Model.GetSideC() is a @Model.GetResult() triangle.</p>
  </body>
</html>
